<% 	# set indent and outdent values for n-level items
	big_indent_ems = 1.2;
	outdent_ems = 0.4;
	active = item.has_key?('children')
 %>
<span class='facet_item <%= "active" if active %>' >
	<% level.times do %>&nbsp;&nbsp;&nbsp;&nbsp;<% end %>
  <% if item.has_key?('id') %>
    <%= link_to_facet display_filter_term(item['id']), term_type, item['id'] %>
  <% else %>
    <%= link_to_facet "Any #{term_type.to_s.titleize.downcase}", term_type %>
	<% item['count'] = 'no' if item.has_key?('children') && item['children'].empty? %>
  <% end %>
  <span class='facet_count'>(<%= item['count'] %><%= " phenotypes" if active %>)</span>
</span>