<% 	# set indent and outdent values for n-level items
	big_indent_ems = 1.2;
	outdent_ems = 0.4;
 %>
<div class='facet_item <%= "active" if item.has_key?('children') %>' 
	 style='padding-left:<%= (level * big_indent_ems) + outdent_ems %>em; text-indent: -<%= outdent_ems %>em;'>
  <!--<%= tabs(level) %>-->
  <% if item.has_key?('id') %>
    <%= link_to_facet display_filter_term(item['id']), term_type, item['id'] %>
  <% else %>
    <%= link_to_facet "Any #{term_type.to_s.titleize.downcase}", term_type %>
	<% item['count'] = 'none' if item.has_key?('children') && item['children'].empty? %>
  <% end %>
  <span class='facet_count'>(<%= item['count'] %>)</span>
</div>