<%= javascript_include_tag 'jit-yc', 'phenotypic_profile_tree' %>
<div>
  <div id="search_sidebar">
    <% form_tag '', :method => :get, :name => 'complex_query_form' do %>
      <div id="term_info">
        
        <!-- Phenotype Filter -->
        <div class='section'>
          <div class='right'><%= button_to_function 'Add', "clearInputs(['#entityChoice','#entity_id','#qualityChoice'," +
            "'#quality_id','#relatedEntityChoice','#related_entity_id']);jQuery('#phenotype_filter_container').dialog('open');",
            :id => "add_phenotype_button" %></div>
          <div class='green_heading'>Phenotype is:</div>
          <div id='phenotype_filter' class='section_indent'>
            <%= render :partial => '/search/phenotype_filter', :locals => {:phenotypes => params[:filter][:phenotypes]} %>
          </div>
        </div>

        <div class='section top_border'>
          <%= check_box_tag 'filter[include_inferred]', true, params[:filter][:include_inferred] %>
          <span class='green_heading'>Include inferred phenotypes</span>
        </div>

      </div>
    <% end %>
  </div>
  
  <%= render :partial => 'search/phenotype_filter_popup' %>
  
  <div id="search_main">
    <h2>Phenotypic profile tree</h2>
    <p>Taxon color indicates the greatest level of match of specified phenotype(s) found within a species in the clade.</p>
    <div id="tree-loading" style="display: none">Loading...</div>
    <div id="tree-empty">
      No phenotypes entered yet.<br/>
      Add a phenotype to the profile:
      <%= button_to_function('Add', "jQuery('#add_phenotype_button').click()") %>
    </div>
    <div id="tree">
      <div id="tree-key">
        Greatest level of match
        <div class="key">
          <div class="cell" style="background-color: red">100%</div>
          <div class="cell" style="background-color: orange">75%</div>
          <div class="cell" style="background-color: yellow">50%</div>
          <div class="cell" style="background-color: lightgray">&lt;50%</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class='clear'></div>
</div>
