<%= javascript_include_tag 'jit-yc', 'phenotypic_profile_tree' %>
<div>
  <div id="search_sidebar">
    <% form_tag '', :method => :get, :name => 'complex_query_form' do %>
      <div id="term_info">
        
        <!-- Phenotype Filter -->
        <div class='section'>
          <div class='right'><%= button_to_function 'Add', "clearInputs(['#entityChoice','#entity_id','#qualityChoice'," +
            "'#quality_id','#relatedEntityChoice','#related_entity_id']);jQuery('#phenotype_filter_container').dialog('open');" %></div>
          <div class='green_heading'>Phenotype is:</div>
          <div id='phenotype_filter' class='section_indent'>
            <%= render :partial => '/search/phenotype_filter', :locals => {:phenotypes => params[:filter][:phenotypes]} %>
          </div>
        </div>

        <div class='section top_border'>
          <%= check_box_tag 'filter[include_inferred]', true, params[:filter][:include_inferred] %>
          <span class='green_heading'>Include inferred phenotypes</span>
        </div>

      </div>
    <% end %>
  </div>
  
  <%= render :partial => 'search/phenotype_filter_popup' %>
  
  <div id="search_main">
    <div id="tree">
    </div>
  </div>
  
  <div class='clear'></div>
</div>
