<%= javascript_include_tag 'jit-st-2.0.1.min', 'phenotypic_tree', 'spin.min', 'jQuery.unserializeForm' %>
<div>
  <div id="search_sidebar">
    <% form_tag '/taxa', :method => :get, :name => 'complex_query_form', :id => 'query_form' do %>
      <div id="term_info" class="rounded-medium visualize-area shadow-small">
        
        <!-- Phenotype Filter -->
        <div class='section'>
          <div class='right'><%= button_to_function 'Add', "clearInputs(['#entityChoice','#entity_id','#qualityChoice'," +
            "'#quality_id','#relatedEntityChoice','#related_entity_id']);jQuery('#phenotype_filter_container').dialog('open');",
            :id => "add_phenotype_button" %></div>
          <div class='green_heading'>Phenotype is:</div>
          <div id='phenotype_filter' class='section_indent'>
            <%= render :partial => '/search/phenotype_filter', :locals => {:phenotypes => params[:filter][:phenotypes]} %>
          </div>
        </div>
		<div class="sidebar-divider">&nbsp;</div>
        <div class='section'>
          <%= check_box_tag 'filter[include_inferred]', true, params[:filter][:include_inferred] %>
          <span class='green_heading'>Include inferred phenotypes</span>
        </div>

      </div>
      
      <p>
        <%-# Using button_to_function instead of submit_tag, so that (at least in some browsers)
           # if a user presses enter when a checkbox has focus, the form will not submit since there is no submit tag. -%>
        <%= button_to_function 'Query taxa with these phenotypes', 'jQuery(this).closest("form").submit()' %>
      </p>
      
    <% end %>
  </div>
  
  <%= render :partial => 'search/phenotype_filter_popup' %>
  
  <div id="search_main">
    <h2>Phenotypic profile tree</h2>
    <p>Taxon color indicates the greatest level of match of specified phenotype(s) found within a species in the clade.</p>
    <div id="profile-tree-loading" style="display: none"></div>
    <div id="profile-tree-empty" class="shadow-medium">
      No phenotypes entered yet.<br/>
      Add a phenotype to the profile:
      <%= button_to_function('Add', "jQuery('#add_phenotype_button').click()") %>
    </div>
    <div id="profile-tree" class="visualize-area rounded-small">
      <div id="profile-tree-key">
        Greatest level of match
        <div class="key rounded-small">
          <div class="cell" style="background-color: #F44">100%</div>
          <div class="cell" style="background-color: orange">75%</div>
          <div class="cell" style="background-color: yellow">50%</div>
          <div class="cell" style="background-color: #D3D3D3">&lt;50%</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class='clear'></div>
</div>
