<%= javascript_include_tag 'jit-yc', 'md5-min', 'phenotypic_tree' %>
<div>
  <% form_tag '/phenotypes', :method => :get, :name => 'complex_query_form', :id => 'query_form' do %>
    <div>
      Taxonomic distribution of
      <select name="filter[phenotypes][0][quality]" id="quality_select">
        <% selected_quality = params[:filter][:phenotypes]["0"][:quality] rescue nil %>
        <%= options_for_select Attribute.all(:format => :array_for_select_options), selected_quality %>
      </select>
      for
      <strong id="entity">
        <%= @entity['name'] %>
        <input type="hidden" id="current_entity_id" name="filter[phenotypes][0][entity]" value="<%= @entity['id'] %>">
      </strong>
      <button>change</button>
    </div>
  
    <div class='clear'></div>

    <div id="search_sidebar">
      <div id="term_info">
        <div class='section'>
          Limit tree to <span id="current_taxon_name" style="border: 3px solid black">(loading)</span>
          <%= button_to_function 'change', "clearInputs(['#popupTermChoice','#term_id']);jQuery('#term_filter_container').dialog('open');" %>
          (X)
          <input type="hidden" id="current_taxon_id" name="filter[taxa][0]" value="<%= params[:filter][:taxa]["0"] rescue "" %>">
        </div>
        <div class="section">
          <input type="checkbox" name="exclude_unannotated" <%= 'checked="checked"' if params[:exclude_unannotated] %>>
          <label for="">Show taxa without phenotype data</label><br>
          <input type="checkbox" name="exclude_attribute" <%= 'checked="checked"' if params[:exclude_attribute] %>>
          <label for="">Show taxa with unspecified <span class="quality_name"></span> phenotypes</label>
        </div>
      </div>
    
      <p>
        <%-# Using button_to_function instead of submit_tag, so that (at least in some browsers)
           # if a user presses enter when a checkbox has focus, the form will not submit since there is no submit tag. -%>
        <%= button_to_function 'Show current query', 'jQuery(this).closest("form").submit()' %>
      </p>
    
      <table class="grid">
        <tr>
          <th>Phenotype</th>
          <th>Taxa</th>
          <th>Phenotype Profiles</th>
        </tr>
        <tr>
          <td>triangular</td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Y-shaped</td>
          <td>1</td>
          <td>1</td>
        </tr>
      </table>
    </div>
  <% end %>
  
  <%= render :partial => 'search/term_filter_popup', :locals => {:label => "Taxon", :field_name => 'taxa', :for_variation_tree => true} %>
  
  <div id="search_main">
    <div id="variation-tree-loading" style="display: none">Loading...</div>
    <div id="variation-tree-empty">
      No results.
    </div>
    <div id="variation-tree">
      
    </div>
  </div>
  
  <div class='clear'></div>
</div>
