<h2><span class="term-name" title="<%=h @term_info["id"] %>"><%=h @term_info["name"] %></span></h2>
<div id="sidebar">
	<div id="term_info">
		<h3>Anatomical Term</h3>
		<h4 class="term-info-header">Properties</h4>
		<div>
			<span class="term-info-field-label">Synonyms:</span> <span><%=h (@term_info["synonyms"].collect {|item| item["name"]}).join(", ") %></span>
		</div>
		<div>
			<span class="term-info-field-label">Definition:</span> <span><%=h @term_info["definition"]%></span>
		</div>
		<h4 class="term-info-header">Relationships</h4>
		<% for relation in lump_relations(@term_info["parents"]) %>
		<div>
			<span class="term-info-field-label relation_name" title="<%=h relation["relation"]["id"] %>"><%=h subject_rel(relation["relation"]["id"], relation["relation"]["name"]) %>:</span> <span><%= (relation["targets"].collect {|item| anatomy_link(item) }).join(", ") %></span>
		</div>	
		<% end %>
		<% for relation in lump_relations(@term_info["children"]) %>
		<div>
			<span class="term-info-field-label relation_name" title="<%=h relation["relation"]["id"] %>"><%=h object_rel(relation["relation"]["id"], relation["relation"]["name"]) %>:</span> <span><%= (relation["targets"].collect {|item| anatomy_link(item) }).join(", ") %></span>
		</div>
		<% end %>
		<%  if not @homology.empty? %>
			<div>
			<span class="term-info-field-label relation_name">possible homologs:</span> <span><%= list_more(format_homologies(@homology), 0) %></span>
		</div>
		<% end %>
	</div>
</div>
<div id="main">
	<h2>Phenotypes</h2>
	<% if @summary["characters"].empty? %>
	<p>No phenotypes were found involving <span class="term-name" title="<%=h @term_info["id"] %>"><%=h @term_info["name"] %></span>.</p>
	<% else %>
	<table class="annotations sortable" id="datatable">
		<tr>
			<th>Anatomy</th><th>Quality</th><th>Zebrafish Data</th><th>Evolutionary Data</th>
		</tr>
		<% for character in @summary["characters"] %>
		<tr>
			<td><%=h character["entity"]["name"] %></td>
			<td><%=h character["character_quality"]["name"] %><br>Values include:
				<%=h (character["qualities"]["examples"].collect {|item| item["name"]}).join(", ") %> and <%=h character["qualities"]["count"] - character["qualities"]["examples"].length %> more
			</td>
			<td>
				<% if character["genes"]["count"] > 0 %>
					<a href="/phenotype/devo/<%=h character["entity"]["id"]%>/<%=h character["character_quality"]["id"]%>/"><%=h character["genes"]["count"] %> genes
				<% else %>
					None
				<% end %>
			</td>
			<td>
				<% if character["taxa"]["count"] > 0 %>
					<a href="/phenotype/evo/<%=h character["entity"]["id"]%>/<%=h character["character_quality"]["id"]%>/"> <%=h character["taxa"]["count"] %> taxa
				<% else %>
					None
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	<% end %>
</div>

<script type="text/javascript">

var homologies = <%= @homology_json %>["homologies"];

function showSource(anatomyID, taxonID, element) {
	var sourcePanel = new YAHOO.widget.Panel("source_panel", {
		"context" : [element, YAHOO.widget.Overlay.TOP_RIGHT, YAHOO.widget.Overlay.BOTTOM_LEFT],
		"constraintoviewport" : true,
		"visible" : false
		});
	sourcePanel.hideEvent.subscribe(destroyPanel, sourcePanel);
	var sources = filter(function(item) {
		return ((item["target"]["entity"]["id"] == anatomyID) && (item["target"]["taxon"]["id"] == taxonID));
	}, homologies);
	if (sources.length == 0) {
		// this should never happen
		return;
	}
	var chunks = map(function(item) {
		var subject = item["subject"];
		var target = item["target"];
		var source = item["source"];
		var subjectP = P(null, subject["entity"]["name"] + " in " + subject["taxon"]["name"]);
		var homologous_toP = P(null, SPAN({"class":"relation-name"}, "homologous to"));
		var targetP = P(null, target["entity"]["name"] + " in " + target["taxon"]["name"]);
		var evidenceP = P(null, "Evidence: " + source["evidence"]["name"]);
		var citationP = P(null, source["publication"]);
		var chunk = DIV(null, subjectP, homologous_toP, targetP, evidenceP, citationP);
		return chunk;
	}, sources);
	
	sourcePanel.setBody(DIV(null, chunks));
	sourcePanel.setHeader("Source Data");
	sourcePanel.render(document.body);
	sourcePanel.show();
}

function destroyPanel(type, args, obj) {
	logDebug("Destroy");
	if (deferred) { deferred.cancel(); }
	obj.destroy();
}

</script>
