<h2><span class="term-name" title="<%=h @term_info["id"] %>"><%=h @term_info["name"] %></span></h2>
<div id="sidebar">
	<div id="term_info">
		<h3>Anatomical Term</h3>
		<h4 class="term-info-header">Properties</h4>
		<div>
			<span class="term-info-field-label">ID:</span> <span><%= @term_info["id"] %></span>
		</div>
		<div>
			<span class="term-info-field-label">Ontology:</span> <span><%= ontology(@term_info) %></span>
		</div>
		<div>
			<span class="term-info-field-label">Synonyms:</span> <span><%= textOrNone((@term_info["synonyms"].collect {|item| item["name"]}).sort.join(", ")) %></span>
		</div>
		<div>
			<% definition = @term_info["definition"]%>
			<span class="term-info-field-label">Definition:</span> <span><%= textOrNone(definition)%></span>
		</div>
		<% if not empty?(@term_info["comment"]) %>
		<div>
			<span class="term-info-field-label">Comment:</span> <span><%=h @term_info["comment"]%></span>
		</div>
		<% end %>
		<h4 class="term-info-header">Relationships (<a href="/about/ontology_relationships/">about</a>)</h4>
		<% for relation in lump_relations(@term_info["parents"]) %>
		<div>
			<span class="term-info-field-label relation_name" title="<%=h relation["relation"]["id"] %>"><%=h subject_rel(relation["relation"]["id"], relation["relation"]["name"]) %>:</span> <span><%= (relation["targets"].collect {|item| entity_link(item) }).join(", ") %></span>
		</div>	
		<% end %>
		<% for relation in lump_relations(@term_info["children"]) %>
		<div>
			<span class="term-info-field-label relation_name" title="<%=h relation["relation"]["id"] %>"><%=h object_rel(relation["relation"]["id"], relation["relation"]["name"]) %>:</span> <span><%= (relation["targets"].collect {|item| entity_link(item) }).join(", ") %></span>
		</div>
		<% end %>
		<%  if not @homology.empty? %>
			<div>
			<span class="term-info-field-label relation_name">possible homologs:</span> <span><%= list_more(format_homologies(@homology), 0) %></span>
		</div>
		<% end %>
		<h4 class="term-info-header">More information</h4>
		<div>
			<a href="<%= bioportal_tao_url(@term_info) %>" target="_blank">View at NCBO Bioportal</a>
		</div>
	</div>
</div>
<div id="main">
	<h3>Phenotypes</h3>
	<% if @summary["characters"].empty? %>
	<p>No phenotypes were found involving <span class="term-name" title="<%=h @term_info["id"] %>"><%=h @term_info["name"] %></span>.</p>
	<% else %>
	<table class="annotations sortable" id="datatable">
		<tr>
			<th>Anatomy</th><th>Quality</th><th>Zebrafish Genes</th><th>Taxa</th>
		</tr>
		<% for character in @summary["characters"] %>
		<tr>
			<td><%= entity_link(character["entity"]) %></td>
			<td><%= quality_link(character["character_quality"]) %> 
				<% filtered_examples = filter_out_attribute(character["character_quality"], character["qualities"]["examples"]) %>
				<% character["qualities"]["count"] -= 1 if filtered_examples.length < character["qualities"]["examples"].length %>
				<% formatted_list = list_more((filtered_examples.collect {|item| item["name"]}).sort!, character["qualities"]["count"]) %>
				<% if formatted_list %>
				<span class="example-values">: <%= formatted_list %></span>
				<% end %>
			</td>
			<td>
				<% if character["genes"]["count"] > 0 %>
					<a href="/phenotype/devo/<%=h character["entity"]["id"]%>/<%=h character["character_quality"]["id"]%>/"><%=h character["genes"]["count"] %>
				<% else %>
					None
				<% end %>
			</td>
			<td>
				<% if character["taxa"]["count"] > 0 %>
					<a href="/phenotype/evo/<%=h character["entity"]["id"]%>/<%=h character["character_quality"]["id"]%>/"> <%=h character["taxa"]["count"] %>
				<% else %>
					None
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	<% end %>
</div>

<script type="text/javascript">

var homologies = <%= @homology_json %>["homologies"];

function showSource(anatomyID, taxonID, element) {
	var sourcePanel = new YAHOO.widget.Panel("source_panel", {
		"context" : [element, YAHOO.widget.Overlay.TOP_LEFT, YAHOO.widget.Overlay.BOTTOM_RIGHT],
		"constraintoviewport" : true,
		"visible" : false
		});
	sourcePanel.hideEvent.subscribe(destroyPanel, sourcePanel);
	var sources = filter(function(item) {
		return ((item["target"]["entity"]["id"] == anatomyID) && (item["target"]["taxon"]["id"] == taxonID));
	}, homologies);
	if (sources.length == 0) {
		// this should never happen
		return;
	}
	var chunks = map(function(item) {
		var subject = item["subject"];
		var target = item["target"];
		var source = item["source"];
		var subjectTaxonClass = "";
		if (italicTaxon(subject["taxon"])) {
			targetTaxonClass = "italic-taxon";
		}
		var targetTaxonClass = "";
		if (italicTaxon(target["taxon"])) {
			targetTaxonClass = "italic-taxon";
		}
		var subjectP = SPAN(null, subject["entity"]["name"] + " in ", SPAN({"class": subjectTaxonClass}, subject["taxon"]["name"]));
		var homologous_toP = SPAN(null, SPAN({"class":"relation-name"}, "homologous to"));
		var targetP = SPAN(null, target["entity"]["name"] + " in ", SPAN({"class": targetTaxonClass}, target["taxon"]["name"]));
		var statementP = P({"class": "homology-statement"}, subjectP, BR(null), homologous_toP, BR(null), targetP);
		var evidenceP = P(null, "Evidence: " + source["evidence"]["name"]);
		var citationP = P(null, "Citation: " + source["publication"]);
		var chunk = DIV({"class": "homology-item"}, statementP, evidenceP, citationP);
		return chunk;
	}, sources);
	
	sourcePanel.setBody(DIV(null, chunks));
	sourcePanel.setHeader("Source Data");
	sourcePanel.render(document.body);
	sourcePanel.show();
}

function destroyPanel(type, args, obj) {
	logDebug("Destroy");
	if (deferred) { deferred.cancel(); }
	obj.destroy();
}

</script>
