<h2>ZFIN gene: <span class="term-name" title="<%=h @term_info["id"] %>"><%=h @term_info["name"] %></span></h2>
<div id="sidebar">
	<div id="term_info">
		<h4 class="term-info-header">Properties</h4>
		<div>
			<span class="term-info-field-label">ID:</span> <span><%= @term_info["id"] %></span>
		</div>
		<div>
			<span class="term-info-field-label">Synonyms:</span> <span><%= textOrNone((@term_info["synonyms"].collect {|item| item["name"]}).sort.join(", ")) %></span>
		</div>
		<h4 class="term-info-header">More information</h4>
		<div>
			<a href="<%= zfin_url(@term_info) %>" target="_blank">View at ZFIN</a>
		</div>
	</div>
</div>
<div id="main">
	<h3>Zebrafish Phenotypes: <span class="term-name" title="<%=h @term_info["id"] %>"><%=h @term_info["name"] %></span></h3>
	<% if @summary["characters"].empty? %>
	<p>No phenotypes were found involving <span class="term-name" title="<%=h @term_info["id"] %>"><%=h @term_info["name"] %></span>.</p>
	<% else %>
	<table class="annotations sortable" id="datatable">
		<tr>
			<th>Entity</th><th>Quality</th><th>All Zebrafish Genes Affecting Phenotype</th><th>Taxa</th>
		</tr>
		<% for character in @summary["characters"] %>
		<tr>
			<td><%= entity_link(character["entity"]) %></td>
			<td><%= quality_link(character["character_quality"]) %> 
				<% filtered_examples = filter_out_attribute(character["character_quality"], character["qualities"]["examples"]) %>
				<% character["qualities"]["count"] -= 1 if filtered_examples.length < character["qualities"]["examples"].length %>
				<% formatted_list = list_more((filtered_examples.collect {|item| item["name"]}).sort!, character["qualities"]["count"]) %>
				<% if formatted_list %>
				<span class="example-values">: <%= formatted_list %></span>
				<% end %>
			</td>
			<td>
				<% if character["genes"]["count"] > 0 %>
					<a href="/phenotype/devo/<%=h character["entity"]["id"]%>/<%=h character["character_quality"]["id"]%>/"><%=h character["genes"]["count"] %></a>
				<% else %>
					0
				<% end %>
			</td>
			<td>
				<% if character["taxa"]["count"] > 0 %>
					<a href="/phenotype/evo/<%=h character["entity"]["id"]%>/<%=h character["character_quality"]["id"]%>/"> <%=h character["taxa"]["count"] %></a>
				<% else %>
					0
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
</div>
<% end %>