<% if @results["annotations"].empty? %>

<h2>No phenotypes were found associated with gene <span class="term-name" title="<%=h @results["gene"]["id"] %>"><%=h @results["gene"]["name"] %></span>.</h2>

<% else %>

<h2>Summary of phenotypes associated with gene <span class="term-name" title="<%=h @results["gene"]["id"] %>"><%=h @results["gene"]["name"] %></span>.</h2>

<p><a href="http://zfin.org/cgi-bin/webdriver?MIval=aa-markerview.apg&amp;OID=<%= @results["gene"]["id"][5..-1] %>">View this gene at ZFIN</a></p>

<table class="annotations sortable" id="datatable">
	<tr>
		<th>Entity</th><th>Quality</th><th>Genotypes</th><th>Taxonomic Phenotypes</th>
	</tr>
	<% for annotation in @results["annotations"] %>
	<tr>
		<td><%=h annotation["entity"]["name"] %></td>
		<td><%=h annotation["quality"]["name"] %></td>
		<td>
			<% genotype_list = ""%>
			<% for genotype in annotation["genotypes"] %>
				<% genotype_list += (genotype["name"] + ", ") if genotype.has_key? "name" %>
			<% end %>
			<% genotype_list[-2] = "" if genotype_list.length > 0%>
			<%= genotype_list %>
		</td>
		<% anatomy_id = annotation["teleost_entity"]["id"]%>
		<% quality_id = annotation["quality"]["id"]%>
		<td><a href="/search/phenotypes/anatomy/<%=h anatomy_id %>/taxa/<%=h quality_id %>?attribute=true">Related taxonomic phenotypes</a></td>
	</tr>
	<% end %>
</table>

<p class="data-download"><a href="/OBD-WS/phenotypes/summary/gene/<%=h @results["gene"]["id"] %>">Download these results directly in JSON format.</a></p>

<% end %>