<p>Phenotypes involving <span class="term-name" title="<%=h @results["anatomical_feature"]["id"] %>"><%=h @results["anatomical_feature"]["name"] %></span>, affecting <span class="term-name" title="<%=h @results["quality"]["id"] %>"><%=h @results["quality"]["name"] %></span></p>

<table class="annotations sortable" id="datatable">
	<tr>
		<th>Genotype</th><th>Entity</th><th>Quality</th>
	</tr>
	<% for annotation in @results["annotations"] %>
	<tr>
		<td><%=h annotation["genotype"]["name"] %></td>
		<td><%=h annotation["entity"]["name"] %></td>
		<td><%=h annotation["quality"]["name"] %></td>
	</tr>
	<% end %>
</table>