<div>
  <div id="search_sidebar">
    <% form_tag '', :method => :get, :name => 'complex_query_form' do %>
      <div id="term_info">
		<div class='header'>Query for: <%= render :partial => 'shared/related_query_links' %>
	    </div>      
        <!-- Gene Filter -->
        <div class='section'>
          <div class='right'><%= button_to_function 'Add', "clearInputs(['#popupTermChoice','#term_id']);jQuery('#term_filter_container').dialog('open');" %></div>
          <div class='green_heading'>Gene is:</div>
          <div id='term_filter' class='section_indent italic'>
            <%= render :partial => '/search/term_filter', :locals => {:terms => params[:filter][:genes], :field_name => "genes"} %>
          </div>
        </div>
        
        <div class='filter_operator section'>and</div>
        
        <!-- Phenotype Filter -->
        <div class='section'>
          <div class='right'><%= button_to_function 'Add', "clearInputs(['#entityChoice','#entity_id','#qualityChoice'," +
            "'#quality_id','#relatedEntityChoice','#related_entity_id']);jQuery('#phenotype_filter_container').dialog('open');" %></div>
          <div class='green_heading'>Phenotype is:</div>
          <div id='phenotype_filter' class='section_indent'>
            <%= render :partial => '/search/phenotype_filter', :locals => {:phenotypes => params[:filter][:phenotypes]} %>
          </div>
        </div><br />
        
        <div class='section top_border center'>
          <%= submit_tag 'Apply Filter' %>
        </div>
      </div>
    <% end %>
  </div>
  
  <%= render :partial => 'search/term_filter_popup', :locals => {:label => "Gene", :field_name => 'genes'} %>
  <%= render :partial => 'search/phenotype_filter_popup' %>
  <%= render :partial => 'annotation_sources/popup' %>
  
  
  <div id="search_main">
    
    <%= render :partial => 'shared/pagination', :locals => {:collection => @gene_annotations['annotations'], 
          :total => @gene_annotations['total']} %>
    
    <table class="search_results sortable">
      <tr class='no_padding'>
        <th class='no_color'></th><th colspan='3'>Phenotype</th><th class='no_color'></th>
      </tr>
      <tr>
        <% shared_locals = {:controller => "gene_annotations", :action => "index"} %>
        <%= sort_column 'Gene', 'gene', shared_locals %>
        <%= sort_column 'Entity', 'entity', shared_locals %>
        <%= sort_column 'Quality', 'quality', shared_locals %>
        <%= sort_column 'Related Entity', 'relatedentity', shared_locals %>
        <th>Source</th>
      </tr>
      <% for gene_annotation in @gene_annotations['annotations'] %>
        <tr class="<%= cycle('odd','even') %>">
          <td class='italic'><%= term_link(gene_annotation['gene']) if gene_annotation['gene'] %></td>
          <td><%= term_link(gene_annotation['entity']) if gene_annotation['entity'] %></td>
          <td><%= term_link(gene_annotation['quality']) if gene_annotation['quality'] %></td>
          <td><%= term_link(gene_annotation['related_entity']) if gene_annotation['related_entity'] %></td>
          <td><%= link_to_source_popup(gene_annotation) %></td>
        </tr>
      <% end %>
    </table>
    
    <%= render :partial => 'shared/download_links', :locals => {:total => @gene_annotations['total']} %>
  </div>
  
  <div class='clear'></div>
</div>
