<div>
  <div id="search_sidebar">
    <% form_tag '', :method => :get, :name => 'complex_query_form' do %>
      <div id="term_info">
		<div class='header'>Query for: <%= render :partial => 'shared/related_query_links' %>
	    </div>          
        <!-- Taxon Filter -->
        <div class='section'>
          <div class='right'><%= button_to_function 'Add', "clearInputs(['#popupTermChoice','#term_id']);jQuery('#term_filter_container').dialog('open');" %></div>
          <div class='green_heading'>Taxon is
            <%= render :partial => 'shared/any_or_all', :locals => {:section => 'taxa'} %>:</div>
          <div id='term_filter' class='section_indent'>
            <%= render :partial => '/search/term_filter', :locals => {:terms => params[:filter][:taxa], :field_name => "taxa", :any_or_all => true} %>
          </div>
        </div>
        
        <div class='filter_operator section'>and</div>
        
        <!-- Phenotype Filter -->
        <div class='section'>
          <div class='right'><%= button_to_function 'Add', "clearInputs(['#entityChoice','#entity_id','#qualityChoice'," +
            "'#quality_id','#relatedEntityChoice','#related_entity_id']);jQuery('#phenotype_filter_container').dialog('open');" %></div>
          <div class='green_heading'>Phenotype is
            <%= render :partial => 'shared/any_or_all', :locals => {:section => 'phenotypes'} %>:</div>
          <div id='phenotype_filter' class='section_indent'>
            <%= render :partial => '/search/phenotype_filter', :locals => {:phenotypes => params[:filter][:phenotypes], :any_or_all => true} %>
          </div>
        </div>
        
        <div class='section top_border center'>
          <%= submit_tag 'Apply Filter' %>
        </div>
      </div>
    <% end %>
  </div>
  
  <%= render :partial => 'search/term_filter_popup', :locals => {:label => "Taxon", :field_name => 'taxa'} %>
  <%= render :partial => 'search/phenotype_filter_popup' %>
  
  <div id="search_main">
    
    <%= render :partial => 'shared/pagination', :locals => {:collection => @publications['publications'], 
          :total => @publications['total']} %>
    
    <table class="search_results sortable">
      <tr>
        <th><input type="checkbox" id="save-all" title="Save to workspace"></th>
        <% shared_locals = {:controller => "publications", :action => "index"} %>
        <%= sort_column 'Publication', 'publication', shared_locals %>
      </tr>
      <% for publication in @publications['publications'] %>
        <tr class="<%= cycle('odd','even') %>">
          <td><input type="checkbox" class="save" title="Save to workspace">
          <td><%= term_link(publication) %></td>
        </tr>
      <% end %>
    </table>

	<%= render :partial => 'shared/pagination', :locals => {:collection => @publications['publications'], 
          :total => @publications['total']} %>
    
    <%= render :partial => 'shared/download_links', :locals => {:total => @publications['total']} %>
  </div>
  
  <div class='clear'></div>
</div>