<%= javascript_include_tag 'workspace' %>
<% categories = %w(Taxa Genes Entities Qualities Publications Phenotypes) %>

<div id="workspace">
  <form method="get">
    <% empty_workspace = session[:workspace].empty? || session[:workspace].values.flatten.empty? %>
    <% unless empty_workspace %>
      <div id="search_sidebar">
        <div id="term_info" class="workspace-area rounded-medium">
          <% categories.each_with_index do |category, i| %>
            <div class="section" id="<%= category.underscore %>">
              <div class="green_heading">
                <%= category %>:
              </div>
              <div class="filter section_indent">
              </div>
              <%= '<div class="sidebar-divider">&nbsp;</div>' unless i+1 == categories.size %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div id="search_main">
      <% if empty_workspace %>
        <p>Your workspace is currently empty.</p>
      <% else %>
        <div class="header rounded-large">Send selections to: 
          <%= render :partial => 'shared/related_query_links', :locals => {:phenotypic_profile_tree => true} %>
        </div>
      <% end %>
      <p>Click on any of the saved workspace items to the left to include them in a new query.</p>
      <% unless empty_workspace %>
        <div class="query_options">
          <% categories.each do |category| %>
            <div class="section_options" id="<%= category.underscore %>_options">
              Match
              (<input type="radio" name="filter[<%= category.underscore %>_match_type]" value="any" checked="checked" id="<%= category.underscore %>_any" />
              <label for="<%= category.underscore %>_any">any</label> 
              <input type="radio" name="filter[<%= category.underscore %>_match_type]" value="all" id="<%= category.underscore %>_all" />
              <label for="<%= category.underscore %>_all">all</label>)
              checked <%= category %>
            </div>
          <% end %>
          <div id="inferred_annotations_options" class="section_options">
            <input type="checkbox" name="filter[include_inferred]" id="filter_include_inferred" />
            <label class="green_heading" for="filter_include_inferred">
              <span class='always-show-help'>Apply higher taxon annotations to all included species <a href="/hints/WebHints#AboutInferredAnnotations" class="help-link"><img src="/images/help.png" alt="help"></a></span>
            </span>
          </div>
          <div>
            <input type="submit" value="Perform Query" />
          </div>
        </div>
      <% end %>
    </div>
  </form>
</div>
