<div id='term'>
  <h2 class='header'>publication: <%= display_term(@publication) %></h2>
  <h4 class='subheader'>source: <%=h @publication['source']['name'] if @publication['source'] %></h4><br />
  
  <% content_for :javascript do %>
    <%= javascript_include_tag "jquery.ui.widget.js" %>
    <%= javascript_include_tag "jquery.ui.tabs.js" %>
    <%= javascript_include_tag "scrollable_table.js" %>
    <%= javascript_include_tag "jquery.tablesorter.min.js" %>
    
    <script type='text/javascript'>
      jQuery(function() { jQuery("#tabs").tabs(); });
    </script>
  <% end %>
  
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Overview</a></li>
      <li><a href="#tabs-2">Data Matrix</a></li>
      <li><a href="#tabs-3">Specimens</a></li>
    </ul>
    
    <div id="tabs-1">
      <p><%=h @publication['citation'] %></p>
      
      <% unless @publication['doi'].blank? %>
        <p>DOI: <%= link_to @publication['doi'], "http://dx.doi.org/#{@publication['doi']}" %></p>
      <% end %>
      
      <h3>Abstract</h3>
      
      <p><%=h @publication['abstract'] %></p>
    </div>
    
    <div id="tabs-2">
	  <% seach_params = search_params_for_term(:publication, @publication['id']) %>
      <p>Original character-by-taxon data matrix from publication <strong><%=h @publication['name'] %></strong>. You can also 
         <%= link_to 'query for all phenotype annotations', :controller => :taxon_annotations, :action => :index, :params => seach_params %> curated from this matrix.</p>
      <% matrix = Term.find_publication_matrix(@publication['id'], :media => 'json') %>
      
      <% unless matrix['otus'].empty? %>
        <table id='scrollableTable' class="scrolltable">
          <thead>
            <tr>
              <th class='top_left_cell'>&nbsp;</th>
              <% matrix['characters'].each do |character| %>
                <th><%=h "#{character['num']}. #{character['label']}" %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% matrix['otus'].each do |otu| %>
              <tr>
                <th class='first_col'>
                  <%= term_page_link(otu['taxon']) %>
                  <% if otu['label'] != otu['taxon']['label'] %>
                    <br />as <%=h otu['label'] %>
                  <% end %>
                </th>
                <% matrix['characters'].each do |character| %>
                  <td><%=h matrix['matrix'][otu['id']].fetch(character['id'], {'label' => '?'})['label']  %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <script type="text/javascript">
          if(typeof tableScroll == 'function'){tableScroll('scrollableTable');}
        </script>
      <% end %>
    </div>
    
    <div id="tabs-3">
      <strong>Taxa and specimens used in this study</strong>
      
      <% otus = Term.find_publication_otus(@publication['id'], :media => 'json') %>
      <table id='speciments_table' class='search_results tablesorter'>
        <thead>
          <tr>
            <th class='nowrap sort_column'>Taxon name used in publication</th>
            <th class='nowrap sort_column'>Taxon</th>
            <th class='sort_column'>Specimens</th>
          </tr>
        </thead>
        <tbody>
          <% otus['otus'].each do |otu| %>
            <tr class="<%= cycle('odd','even') %>">
              <td><i><%=h otu['label'] %></i></td>
              <td><%= term_link(otu['taxon']) %></td>
              <td><%= otu['specimens'].map{|s| term_link(s['collection']) + " #{s['catalog_number']}" }.join(", ") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% content_for :javascript do %>
        <script type='text/javascript'>
          jQuery(document).ready(function() 
            {
              jQuery("#speciments_table").tablesorter();
            }
          );
        </script>
      <% end %>
    </div>
  </div>
</div>

