<h2>All phenotypes for <span class="term-name" title="<%=h @entity["id"] %>"><a href="/search/anatomy/<%=h @entity["id"] %>"><%=h @entity["name"] %></a></span> <span class="term-name" title="<%=h @quality["id"] %>"><%=h @quality["name"] %></span></h2>

<table class="annotations sortable" id="datatable">
	<tr>
		<th>Taxon</th>
	</tr>
	<% for taxon in @phenotypes.values %>
	<tr>
		<td><%=h taxon["subject"]["name"] %></td>
		<td>
			<ul>
				<% for phenotype in taxon["phenotypes"]%>
				<li>
				<%=h phenotype["entity"]["name"] %> <%=h phenotype["quality"]["name"] %>
				</li>
				<% end %>
			</ul>
		</td>
	</tr>
	<% end %>
</table>
