<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width = device-width">
 <% ca_test = "#{controller_name}, #{action_name}"
    # show appropriate title and breadcrumb, based on combined controller+action names
    case ca_test
    	# Home page
 		when 'search, index':
 			page_title = 'Phenoscape Knowledgebase'
			
		when 'about, ontology_relationships':
			bc_class = 'breadcrumb-browse'
 			bc_text = 'About relationships'
 			bc_url = '/about/ontology_relationships'
 			page_title = bc_text
    	    	
		# Search pages (if any)
 		when 'term, gene':
 			# Should this actually say 'Browse genes'? (currently has no browser UI!)
 			bc_class = 'breadcrumb-search'
 			bc_text = 'Gene detail'
 			bc_url = '/'
 			page_title = bc_text
 		when 'term, publication':
            # TODO: change to 'Browse comparative publications' when it's ready
 			bc_class = 'breadcrumb-query'
 			bc_text = 'Query comparative publications'
 			bc_url = '/publications'
 			page_title = bc_text
    	
		# Browse pages
 		when 'phenotypes, facets':
 			bc_class = 'breadcrumb-browse'
 			bc_text = 'Browse phenotypes'
 			bc_url = '/phenotypes/facets'
 			page_title = bc_text
 		when 'term, taxon':
 			bc_class = 'breadcrumb-browse'
 			bc_text = 'Browse taxa'
 			bc_url = '/term/taxon/TTO:201'
 			page_title = bc_text
 		# TODO: Fix 'Browse Anatomical Entities' when it's working
 		when 'term, index':  # TODO: filter on CARO
 		when 'term, entity':
 			bc_class = 'breadcrumb-browse'
 			bc_text = 'Browse anatomical entities'
 			bc_url = '/term/index/CARO:0000003'
 			page_title = bc_text
 		when 'term, quality':
 			bc_class = 'breadcrumb-browse'
 			bc_text = 'Browse phenotypic qualities'
 			bc_url = '/term/index/PATO:0000001'
 			page_title = bc_text
		when 'term, publication':
			bc_class = 'breadcrumb-browse'
 			bc_text = 'Publication detail'
 			bc_url = '/'
 			page_title = bc_text
 		# TODO: Add 'Browse genes' when it's ready
 		# TODO: Add 'Browse comparative publications' when it's ready

 		# Query pages
 		when 'phenotypes, index':
 			# NB - this is not on Home page, but can be chosen in Query UI!
 			bc_class = 'breadcrumb-query'
 			bc_text = 'Query phenotypes'
 			bc_url = '/phenotypes'
 			page_title = bc_text
 		when 'taxon_annotations, index':
 			bc_class = 'breadcrumb-query'
 			bc_text = 'Query phenotype annotations to taxa'
 			bc_url = '/taxon_annotations'
 			page_title = bc_text
 		when 'gene_annotations, index':
 			bc_class = 'breadcrumb-query'
 			bc_text = 'Query phenotype annotations to genes'
 			bc_url = '/gene_annotations'
 			page_title = bc_text
 		when 'taxa, index':
 			bc_class = 'breadcrumb-query'
 			bc_text = 'Query taxa'
 			bc_url = '/taxa'
 			page_title = bc_text
 		when 'genes, index':
 			bc_class = 'breadcrumb-query'
 			bc_text = 'Query genes'
 			bc_url = '/genes'
 			page_title = bc_text
 		when 'publications, index':
 			bc_class = 'breadcrumb-query'
 			bc_text = 'Query comparative publications'
 			bc_url = '/publications'
 			page_title = bc_text

 		# Visualize pages
 		when 'phenotypes, profile_tree':
 			bc_class = 'breadcrumb-visualize'
 			bc_text = 'Visualize phenotypic profile tree'
 			bc_url = '/phenotypes/profile_tree'
 			page_title = bc_text
 		when 'phenotypes, variation_tree':
 			bc_class = 'breadcrumb-visualize'
 			bc_text = 'Visualize phenotype variation tree'
 			bc_url = '/phenotypes/variation_tree/TAO:0000316'
 			page_title = bc_text
 		# TODO: Add 'Visualize Phenotype Variation Tree' when it's ready

 		# Other pages
 		when 'about, index':
 			bc_class = 'breadcrumb-general'
 			bc_text = 'About'
 			bc_url = '/about'
 			page_title = bc_text
 		when 'about, bibliography':
 			bc_class = 'breadcrumb-general'
 			bc_text = 'About'
 			bc_url = '/about'
 			page_title = bc_text
		when 'about, ontology_relationships':
 			bc_class = 'breadcrumb-general'
 			bc_text = 'About'
 			bc_url = '/about'
 			page_title = bc_text
 		when 'workspaces, show':
 			bc_class = 'breadcrumb-general'
 			bc_text = 'Workspace'
 			bc_url = '/workspace'
 			page_title = bc_text

 		# unknown pages
	    else
	    	bc_class = 'breadcrumb-unknown'
	    	bc_text = ca_test
	    	bc_url = '.'
 			page_title = '???'
    end
    # prepend any @title, then append ' : Phenoscape'
    title_separator = '«'
    fulltitle = page_title
    if @title
    	# defer to any passed-in title for this page
		fulltitle = @title
    end
    
    # prepend any particular term for this page (if found)
    if @taxon
	    current_term = display_term(@taxon, stripMarkup=true)
    end
    if @quality
	    current_term = display_term(@quality, stripMarkup=true)
    end
    if @gene
	    current_term = display_term(@gene, stripMarkup=true)
    end
    if @entity
	    current_term = display_term(@entity, stripMarkup=true)
    end

    if current_term
    	fulltitle = "#{current_term} #{title_separator} #{fulltitle}"
    end
        
    if !(fulltitle.include? 'Phenoscape')
    	fulltitle += " #{title_separator} Phenoscape"
    end
  %>
	<title><%= fulltitle %></title>
  
  <!-- jQuery libraries -->
  <%= javascript_include_tag "jquery-1.5.2.min.js" %>
  <%= javascript_include_tag "JSON.js" %>
  <%= csrf_meta_tag %>
  <% javascript_tag do %>
  <!--
    $.noConflict();
    var AUTH_TOKEN = <%= form_authenticity_token.inspect %>;
    var SESSION_WORKSPACE_TERMS = JSON.decode(<%= session[:workspace].to_json.inspect %>);

    var SESSION_WORKSPACE_LINKS = {
      <%-
        # Add links for main terms
        terms = session[:workspace].values.flatten
        
        # Add links for components contained within terms (meta-terms)
        terms += extract_term_components(terms).values.flatten
      -%>
      <%# Loop through each term and make a link for it %>
      <%- term_count = terms.size -%>
      <%- terms.each_with_index do |term, i| -%>
        <%= term.to_json.inspect %>: 
        <%- 
          link = ""
          phenotype_components = %w(entity quality related_entity)
          if phenotype_components.map{|component| term[component]}.any? # It's a phenotype
            link = phenotype_components.map{|component| term[component].present? ? term_link(term[component]) : ''}.join ' '
          else
            link = term_link(term)
          end
        -%>
        <%# IMPORTANT: We neutralize all instances of the sequence '</' or Firefox will dump raw JSON onto the page. %>
        <%= link.inspect.gsub(/<\//, '<"+"/') %><%= ',' unless i+1 == term_count %>
      <%- end -%>
    };
  //-->
  <% end %>
  <%= javascript_include_tag "jquery-ui-1.8.2.custom.min.js" %>
  <%= javascript_include_tag "jquery.autocomplete.js" %>
  <%= javascript_include_tag "jquery.menu.min.js" %>
  <%= javascript_include_tag "jquery.simple.tree.js" %>
  <%= javascript_include_tag "jquery.bt.min.js" %>
  <%= javascript_include_tag "jquery.scrollTo-min.js" %>
  <!--[if IE]><%= javascript_include_tag "excanvas.compiled.js" %><![endif]-->
  <%= javascript_include_tag "underscore-min.js" %>
  
  <script type="text/javascript">MochiKit = {__export__: false};</script>
  <%= javascript_include_tag "MochiKit" %>
  <%= javascript_include_tag "sortable" %>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "application" %>
  
  <%= yield :javascript %>
  
  <!-- jQuery styles -->
  <%= stylesheet_link_tag "jquery_themes/jquery-ui-1.8.2.custom.css" %>
  
  <!-- Stylesheets --> 
	<%= stylesheet_link_tag "autocomplete" %>
	<%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag "submenu" %>
  <%= stylesheet_link_tag "simpletree" %>
	
  <%= feedback_includes %>
  <%= feedback_init %>
  
  <script type="text/javascript">
  /** Google Analytics tracking code **/
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12026969-1']);
    _gaq.push(['_setDomainName', '.phenoscape.org']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
  </script>
  <script type="text/javascript">
  /** universal behavior on document.ready **/
    if (jQuery) {
    	if (initializeHints) {
    		jQuery(document).ready(function() {
    			initializeHints();
    		});
    	}
    }
    
  </script>
</head>
<body class="yui-skin-sam">

<h1 class="top_logo_holder"><a href="/"><img class="top_logo" src="/images/phenoscape.png" alt="Phenoscape logo"></a>
</h1>
  
	<% if controller_name == 'search' && action_name == 'index'%>
	<div class="header-message rounded-medium shadow-small">
		<p>The Knowledgebase currently contains <span class="count"><%=h number_with_delimiter(@statistics["taxon_annotations"]) %></span> phenotype statements about <span class="count"><%=h number_with_delimiter(@statistics["annotated_taxa"]) %></span> taxa, sourced from <span class="count"><%=h number_with_delimiter(@statistics["annotated_publications"]) %></span> <a href="/about/bibliography/">publications</a>, as well as <span class="count"><%=h number_with_delimiter(@statistics["gene_annotations"]) %></span> phenotype statements about <span class="count"><%=h number_with_delimiter(@statistics["annotated_genes"]) %></span> genes, retrieved from <a href="http://zfin.org">ZFIN</a>.  The data were last loaded into the Knowledgebase on <span class="count"><%=h @timestamp %></span>.</p>
	   <div class="feedback-widget rounded-large shadow-medium"><a href="#" class="feedback_link popup-link">Feedback</a></div>
	   <p>
	       The Phenoscape Knowledgebase is currently in beta testing. We would greatly value your <a href="#" class="feedback_link popup-link">feedback</a> as we continue its development.
	   </p>
	</div>
	<% end %>

	<% unless controller_name == 'search' && action_name == 'index'%>
    <form id="upperTermForm" action="/search/autocomplete">
  		<div id="upperTermChoiceGroup">
  			<span class="search-label">Site search: </span>
        <%= render :partial => '/search/term_autocomplete', :locals => {:width => '200'} %>
        <input id="upperSearchSubmit" type="submit" value="Go">
  			<div id="upperTermComplete"></div>
  			<p id="upperSearchExamples">Enter entity terms (e.g. basihyal bone), phenotypic qualities (e.g. shape, size), taxonomic names (e.g. Ictaluridae), gene names or symbols (e.g. cadherin 6, cdh6), or publications.</p>
  		</div>
  	</form>
    <div class="feedback-widget rounded-large shadow-medium"><a href="#" class="feedback_link popup-link">Feedback</a></div>
  <% end %>
<div id="navbar">
  <% unless controller_name == 'search' && action_name == 'index'%>	
    <!-- Breadcrumbs (hide these on Home page) --> 
	<a href="/" class="rounded-large breadcrumb breadcrumb-home">Home</a>
	<!-- see page_title and bc_* values above -->
	<a href="<%= bc_url %>" class="rounded-large breadcrumb <%= bc_class %>">
		<!-- Browse Phenotypic Qualities -->
		<%= bc_text %>
	</a>
  <% end %>
  <%= link_to "Workspace", workspace_path %>
	<a href="/about/">About</a> 
	<a href="http://www.phenoscape.org/wiki/acknowledgments" target="_blank">Acknowledgments</a>
</div>
<div class="clear"></div>
<%= yield  %>
<div id="footer">
	<div>
		<p>The Phenoscape project is funded by NSF grants DBI-1062404 and DBI-1062542, and supported by the National Evolutionary Synthesis Center (NESCent), NSF #EF-0905606.</p>
	</div>
</div>
</body>
<%= yield :footer_javascript %>

</html>
