<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<% fulltitle = "Phenoscape Knowledgebase (BETA)" %>
	<% fulltitle += ": " + @title if @title %>
	<title><%= fulltitle %></title>
  
  <!-- jQuery libraries -->
  <%= javascript_include_tag "jquery-1.4.2.min.js" %>
  <%= javascript_include_tag "JSON.js" %>
  <% javascript_tag do %>
  <!--
    $.noConflict();
    var AUTH_TOKEN = <%= form_authenticity_token.inspect %>;
    var SESSION_WORKSPACE_TERMS = JSON.decode(<%= session[:workspace].to_json.inspect %>);

    var SESSION_WORKSPACE_LINKS = {
      <%-
        # Add links for main terms
        terms = session[:workspace].values.flatten
        
        # Add links for components contained within terms (meta-terms)
        terms += extract_term_components(terms).values.flatten
      -%>
      <%# Loop through each term and make a link for it %>
      <%- term_count = terms.size -%>
      <%- terms.each_with_index do |term, i| -%>
        <%= term.to_json.inspect %>: 
        <%- 
          link = ""
          phenotype_components = %w(entity quality related_entity)
          if phenotype_components.map{|component| term[component]}.any? # It's a phenotype
            link = phenotype_components.map{|component| term[component].present? ? term_link(term[component]) : ''}.join ' '
          else
            link = term_link(term)
          end
        -%>
        <%= link.inspect %><%= ',' unless i+1 == term_count %>
      <%- end -%>
    };
  //-->
  <% end %>
  <%= javascript_include_tag "jquery-ui-1.8.2.custom.min.js" %>
  <%= javascript_include_tag "jquery.autocomplete.min.js" %>
  <%= javascript_include_tag "jquery.menu.min.js" %>
  <%= javascript_include_tag "jquery.simple.tree.js" %>
  <%= javascript_include_tag "jquery.bt.min.js" %>
  <%= javascript_include_tag "jquery.scrollTo-min.js" %>
  <!--[if IE]><%= javascript_include_tag "excanvas.compiled.js" %><![endif]-->
  <%= javascript_include_tag "underscore-min.js" %>
  
  <script type="text/javascript">MochiKit = {__export__: false};</script>
  <%= javascript_include_tag "MochiKit" %>
  <%= javascript_include_tag "sortable" %>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "application" %>
  
  <%= yield :javascript %>
  
  <!-- jQuery styles -->
  <%= stylesheet_link_tag "jquery_themes/jquery-ui-1.8.2.custom.css" %>
  
  <!-- Stylesheets --> 
	<%= stylesheet_link_tag "autocomplete" %>
	<%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag "submenu" %>
  <%= stylesheet_link_tag "simpletree" %>
	
  <%= feedback_includes %>
  <%= feedback_init %>
  
  <script type="text/javascript">
  /** Google Analytics tracking code **/
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12026969-1']);
    _gaq.push(['_setDomainName', '.phenoscape.org']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
  </script>
</head>
<body class="yui-skin-sam">
<h1><a href="/"><img class="top_logo" src="/images/phenoscape_beta.png" alt="Phenoscape logo"></a><span>The Phenoscape 
  Knowledgebase is currently in BETA testing - we would greatly value your feedback as we continue its development.</span></h1>
	<% unless controller_name == 'search' && action_name == 'index'%>
    <form id="upperTermForm" action="/search/autocomplete">
  		<div id="upperTermChoiceGroup">
  			<span class="search-label">Site search: </span>
        <%= render :partial => '/search/term_autocomplete', :locals => {:width => '200'} %>
        <input id="upperSearchSubmit" type="submit" value="Go">
  			<div id="upperTermComplete"></div>
  			<p id="upperSearchExamples">Enter entity terms (e.g. basihyal bone), phenotypic qualities (e.g. shape, size), taxonomic names (e.g. Ictaluridae), gene names or symbols (e.g. cadherin 6, cdh6), or publications.</p>
  		</div>
  	</form>
  <% end %>
<div id="navbar">
	<a href="/">Home</a>
  <%= link_to "Workspace", workspace_path %>
	<%= feedback_link "Provide Feedback" %>
	<a href="/about/">About</a> 
	<a href="http://www.phenoscape.org/wiki/acknowledgments" target="_blank">Acknowledgments</a>
</div>
<div class="clear"></div>
<%= yield  %>
<div id="footer">
	<div>
		<p>The Phenoscape project is funded by NSF grant BDI-0641025, and supported by the National Evolutionary Synthesis Center (NESCent), NSF #EF-0423641</p>
	</div>
</div>
</body>
<%= yield :footer_javascript %>

</html>
