<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<% fulltitle = "Phenoscape Knowledgebase (BETA)" %>
	<% fulltitle += ": " + @title if @title %>
	<title><%= fulltitle %></title>
  
  <!-- jQuery libraries -->
  <%= javascript_include_tag "jquery-1.4.2.min.js" %>
  <%= javascript_include_tag "JSON.js" %>
  <% javascript_tag do %>
  <!--
    $.noConflict();
    var AUTH_TOKEN = <%= form_authenticity_token.inspect %>;
    var SESSION_WORKSPACE_TERMS = JSON.decode(<%= session[:workspace].to_json.inspect %>);

    var SESSION_WORKSPACE_LINKS = {
      <%-
        # Add links for main terms
        terms = session[:workspace].values.flatten
        
        # Add links for components contained within terms (meta-terms)
        terms += extract_term_components(terms).values.flatten
      -%>
      <%# Loop through each term and make a link for it %>
      <%- term_count = terms.size -%>
      <%- terms.each_with_index do |term, i| -%>
        <%= term.to_json.inspect %>: 
        <%- 
          link = ""
          phenotype_components = %w(entity quality related_entity)
          if phenotype_components.map{|component| term[component]}.any? # It's a phenotype
            link = phenotype_components.map{|component| term[component].present? ? term_link(term[component]) : ''}.join ' '
          else
            link = term_link(term)
          end
        -%>
        <%= link.inspect %><%= ',' unless i+1 == term_count %>
      <%- end -%>
    };
  //-->
  <% end %>
  <%= javascript_include_tag "jquery-ui-1.8.2.custom.min.js" %>
  <%= javascript_include_tag "jquery.autocomplete.min.js" %>
  <%= javascript_include_tag "jquery.menu.min.js" %>
  <%= javascript_include_tag "jquery.simple.tree.js" %>
  <%= javascript_include_tag "jquery.bt.min.js" %>
  <%= javascript_include_tag "jquery.scrollTo-min.js" %>
  <!--[if IE]><%= javascript_include_tag "excanvas.compiled.js" %><![endif]-->
  <%= javascript_include_tag "underscore-min.js" %>
  
  <script type="text/javascript">MochiKit = {__export__: false};</script>
  <%= javascript_include_tag "MochiKit" %>
  <%= javascript_include_tag "sortable" %>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "application" %>
  
  <%= yield :javascript %>
  
  <!-- jQuery styles -->
  <%= stylesheet_link_tag "jquery_themes/jquery-ui-1.8.2.custom.css" %>
  
  <!-- Stylesheets --> 
	<%= stylesheet_link_tag "autocomplete" %>
	<%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag "submenu" %>
  <%= stylesheet_link_tag "simpletree" %>
	
  <%= feedback_includes %>
  <%= feedback_init %>
  
  <script type="text/javascript">
  /** Google Analytics tracking code **/
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12026969-1']);
    _gaq.push(['_setDomainName', '.phenoscape.org']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
  </script>
  <script type="text/javascript">
  /** universal behavior on document.ready **/
    if (jQuery) {
    	if (initializeHints) {
    		jQuery(document).ready(function() {
    			initializeHints();
    		});
    	}
    }
    
  </script>
</head>
<body class="yui-skin-sam">

	<% if controller_name == 'search' && action_name == 'index'%>
	<div class="header-message rounded-medium">
	   <p>
	       The Knowledgebase currently contains <span class="count">518,905</span> phenotype statements about <span class="count">2,473</span> taxa, sourced from <span class="count">52</span> <a href="http://kb-staging.phenoscape.org/about/bibliography/">publications</a>. as well as <span class="count">22,484</span> phenotype statements about <span class="count">3,941</span> genes, retrieved from <a href="http://zfin.org/">ZFIN</a>.  The data were last loaded into the Knowledgebase on <span class="count">2011-05-10</span>.
	   </p>
	   <div class="feedback-widget rounded-large"><a href="#" class="feedback_link popup-link">Feedback</a></div>
	   <p>
	       The Phenoscape Knowledgebase is currently in beta testing. We would greatly value your <a href="#" class="feedback_link popup-link">feedback</a> as we continue its development.
	   </p>
	</div>
	<% end %>

<h1 class="top_logo_holder"><a href="/"><img class="top_logo" src="/images/phenoscape.png" alt="Phenoscape logo"></a>
</h1>
  
	<% unless controller_name == 'search' && action_name == 'index'%>
    <form id="upperTermForm" action="/search/autocomplete">
  		<div id="upperTermChoiceGroup">
  			<span class="search-label">Site search: </span>
        <%= render :partial => '/search/term_autocomplete', :locals => {:width => '200'} %>
        <input id="upperSearchSubmit" type="submit" value="Go">
  			<div id="upperTermComplete"></div>
  			<p id="upperSearchExamples">Enter entity terms (e.g. basihyal bone), phenotypic qualities (e.g. shape, size), taxonomic names (e.g. Ictaluridae), gene names or symbols (e.g. cadherin 6, cdh6), or publications.</p>
  		</div>
  	</form>
    <div class="feedback-widget rounded-large"><a href="#" class="feedback_link popup-link">Feedback</a></div>
  <% end %>
<div id="navbar">
  <% unless controller_name == 'search' && action_name == 'index'%>	
    <!-- Breadcrumbs (hide these on Home page) --> 
	<a href="/" class="rounded-large breadcrumb breadcrumb-home">Home</a>
   <% ca_test = "#{controller_name}, #{action_name}"; %>
<!--    <h1><%= ca_test %></h1> -->
	<% # show appropriate breadcrumb, based on combined controller+action names
    case ca_test
		# Search pages (if any)
    	
		# Browse pages
 		when 'phenotypes, facets':
 			bc_class = 'breadcrumb-browse'
 			bc_text = 'Browse Phenotypes'
 			bc_url = '/phenotypes/facets'
 		when 'term, taxon':
 			bc_class = 'breadcrumb-browse'
 			bc_text = 'Browse Taxa'
 			bc_url = '/term/taxon/TTO:201'
 		# TODO: Fix 'Browse Anatomical Entities' when it's working
 		when 'term, index':  # TODO: filter on CARO
 			bc_class = 'breadcrumb-browse'
 			bc_text = 'Browse Anatomical Entities'
 			bc_url = '/term/index/CARO:0000003'
 		when 'term, quality':
 			bc_class = 'breadcrumb-browse'
 			bc_text = 'Browse Phenotypic Qualities'
 			bc_url = '/term/index/PATO:0000001'
 		# TODO: Add 'Browse Genes' when it's ready
 		# TODO: Add 'Browse Comparitive Publications' when it's ready

 		# Query pages
 		when 'taxon_annotations, index':
 			bc_class = 'breadcrumb-query'
 			bc_text = 'Query Phenotype Annotations to Taxa'
 			bc_url = '/taxon_annotations'
 		when 'gene_annotations, index':
 			bc_class = 'breadcrumb-query'
 			bc_text = 'Query Phenotype Annotations to Genes'
 			bc_url = '/gene_annotations'
 		when 'taxa, index':
 			bc_class = 'breadcrumb-query'
 			bc_text = 'Query Taxa'
 			bc_url = '/taxa'
 		when 'genes, index':
 			bc_class = 'breadcrumb-query'
 			bc_text = 'Query Genes'
 			bc_url = '/genes'
 		when 'publications, index':
 			bc_class = 'breadcrumb-query'
 			bc_text = 'Query Publications'
 			bc_url = '/publications'

 		# Visualize pages
 		when 'phenotypes, profile_tree'
 			bc_class = 'breadcrumb-visualize'
 			bc_text = 'Visualize Phenotypic Profile Tree'
 			bc_url = '/phenotypes, profile_tree'
 		# TODO: Add 'Visualize Phenotype Variation Tree' when it's ready

 		# unknown pages
	    else
	    	bc_class = 'breadcrumb-unknown'
	    	bc_text = ca_test
	    	bc_url = '.'
    end
    %>
	<a href="<%= bc_url %>" class="rounded-large breadcrumb <%= bc_class %>">
		<!-- Browse Phenotypic Qualities -->
		<%= bc_text %>
	</a>
  <% end %>
  <%= link_to "Workspace", workspace_path %>
	<a href="/about/">About</a> 
	<a href="http://www.phenoscape.org/wiki/acknowledgments" target="_blank">Acknowledgments</a>
</div>
<div class="clear"></div>
<%= yield  %>
<div id="footer">
	<div>
		<p>The Phenoscape project is funded by NSF grant BDI-0641025, and supported by the National Evolutionary Synthesis Center (NESCent), NSF #EF-0423641</p>
	</div>
</div>
</body>
<%= yield :footer_javascript %>

</html>
